<!-- display products -->
{% extends 'base.html' %}
{% block body_block %}

{% if user.is_authenticated and user.account_type == "Seller" %}
    <center>
        <h5><p style="color:orange">Give advertise of your product</p>&nbsp;<a href="{% url 'App_Shop:add_product' %}" class="btn btn-primary">Advertise</a></h5>
        
    </center>
{% endif %}

<!-- "my-5" is for margin-->
<div class="conatiner my-5">
    <h2 class="my-5">Featured Products</h2>
    <div class='row'>
        {% comment %} NOTE: ListView e context hisebe object_name set na korle by default 'object_list' name edata pass hy template e {% endcomment %}
        {% for product in object_list %}

            <!--
                # screen size md==medium hole screen 2 part
                # small hole 1 part
                # large hole 3 part
                e vag hbe
            -->
            <div class="col-md-6 col-sm-12 col-lg-3">
                {% comment %} base.html e css code ache for the classes {% endcomment %}
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="/media/{{product.mainimage}}" style="width:100%; height:300px">
                    </div>
                    <figcaption class="info-wrap">

                        <h6 class="title">
                            <a href="{% url 'App_Shop:product_detail' pk=product.pk %}">{{product.name}}</a>
                        </h6>
                        <div class="action-wrap">
                            <div class="price-wrap h5">
                                <!--
                                    html e TK. er code= &#2547;
                                    floatformat:2== 2 decimal point porjnto show
                                -->
                                <span class="price-new">&#2547; {{product.price|floatformat:2}}</span>
                                <span class="price-old">
                                    {% comment %} <strike> means old price kete dbe {% endcomment %}
                                    <strike>
                                        &#2547; {{product.old_price|floatformat:2}}
                                    </strike>
                                </span>
                            </div>
                        </div>

                    </figcaption>
                </figure>
            </div>

        {% endfor %}

    </div>
</div>


{% endblock %}